/XlendServer/nbproject/private/
/ORM/nbproject/private/
/GUIutil/nbproject/private/
/XlendWorks/nbproject/private/
/SiteMap/nbproject/private/
/SiteMap/build/
/SiteMap/dist/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/JavaFXApplication1/dist/
/XlendServer/build/
/ORM/build/
/ORM/dist/
/XlendServer/dist/
/ORMGenerator/nbproject/private/
/ORMGenerator/build/
/XlendWorksFX/nbproject/private/
/XlendWorksFX/build/
/XlendWorksFX/dist/
/XlendWorks/build/
/GUIutil/dist/
/GUIutil/build/
/XlendWorks/dist/
/FillViewportHeightDemo/nbproject/private/
/FillViewportHeightDemo/build/