#-----------------------
#Sun Aug 31 12:50:47 EEST 2014
user=admin
JDBCconnection=jdbc\:mysql\://localhost/xlend
ServerAddress=localhost\:1099
WindowWidth=0.8
WindowHeight=0.8
LookAndFeel=com.jgoodies.plaf.plastic.PlasticXPLookAndFeel
LastLogin=admin
dbDriverName=com.mysql.jdbc.Driver
dbUser=root
userPassword=admin
dbPassword=root
