#-----------------------
#Sun Jan 11 16:53:30 EET 2015
user=admin
JDBCconnection=jdbc\:mysql\://localhost/xlend
ServerAddress=localhost\:1099
WindowWidth=0.8
WindowHeight=0.8
LookAndFeel=de.muntjak.tinylookandfeel.TinyLookAndFeel
LastLogin=admin
dbDriverName=com.mysql.jdbc.Driver
dbUser=root
userPassword=admin
dbPassword=root
